---
import Layout from "../layouts/layout.astro";
import Hero from "../components/hero.astro";
import Features from "../components/features.astro";
// import Protfolio from "../components/portfolio.astro";
import Team from "../components/team.astro";
import Blog from "../components/blog.astro";
import Contact from "../components/contact.astro";
import Pricing from "../components/pricing.astro";
---

<Layout>
  <div id="home" class="scroll-mt-24"/>
  <Hero />
  <div id="us" class=" bg-white dark:bg-gray-900 scroll-m-24">
    <hr class="border-t border-b border-gray-200 dark:border-gray-700 mx-auto max-w-screen-xl" />
  </div>
  <Features />
  <!-- <div id="work" class="scroll-mt-24"/>
  <Protfolio /> -->
  <div id="team" class="scroll-mt-24"/>
  <Team />
  <div id="pricing" class="scroll-mt-24" />
  <Pricing />
  <div id="blog" class="scroll-mt-24"/>
  <Blog />
  <div id="contact" class="scroll-mt-24"/>
  <Contact />

</Layout>
