---

---

<section class="bg-white dark:bg-gray-900 py-4">
  <div
    class="py-8 px-4 mx-auto max-w-screen-md bg-zinc-50 rounded-lg shadow-md"
  >
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900"
    >
      ¿Listo Para Tener tu Pagina Web?
    </h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
      ¡Estamos aquí para ayudarte! Si estás interesado en nuestros servicios o
      tienes alguna pregunta, no dudes en ponerte en contacto con nosotros.
    </p>
    <form method="POST" id="form" class="space-y-8">
      <input
        type="hidden"
        name="access_key"
        value="e4c60179-8d5d-4d9f-8014-c3c8979bf403"
      />
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
          >Tu nombre</label
        >
        <input
          type="text"
          id="name"
          name="name"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          placeholder="Nombre"
          required
        />
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
          >Tu correo</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          placeholder="nombre@correo.com"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900">Mensaje</label
        >
        <textarea
          id="message"
          name="message"
          rows="6"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
          placeholder="Deja un comentario..."></textarea>
      </div>
      <div class="h-captcha" data-captcha="true"></div>
      <div id="result"></div>

      <button
        type="submit"
        class="ml-auto block py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
        >Enviar solicitud</button
      >
    </form>

    <script is:inline>
      const form = document.getElementById("form");
      const result = document.getElementById("result");

      form.addEventListener("submit", function (e) {
        const formData = new FormData(form);
        e.preventDefault();

        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);

        result.innerHTML = "Please wait...";

        fetch("https://api.web3forms.com/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: json,
        })
          .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
              result.innerHTML = json.message;
            } else {
              console.log(response);
              result.innerHTML = json.message;
            }
          })
          .catch((error) => {
            console.log(error);
            result.innerHTML = "Something went wrong!";
          })
          .then(function () {
            form.reset();
            setTimeout(() => {
              result.style.display = "none";
            }, 3000);
          });
      });
    </script>
  </div>
</section>
